{% block footer %}
    <footer>
        <div class="footer">
            <ul clas=="menuFooter">
                <li>Devenir chef - </li>
                <li>Hygiène - </li>
                <li>Contact - </li>
                <li>Mentions légales</li>
            </ul>
            <div class="border"></div>
            <ul class="menuSocial">
                <li><img src="{{ asset('img/iconFacebook.png') }}"></li>
                <li><img src="{{ asset('img/iconTwitter.png') }}"></li>
                <li><img src="{{ asset('img/iconGoogle.png') }}"></li>
                <li><img src="{{ asset('img/iconInsta.png') }}"></li>
            </ul>
            <p>Copyright Cook 4 us 2016. Tous droits réservés.</p>
        </div>
    </footer>
{% endblock %}