<header>
    <aside class="menuAside">
        <ul class="ulClose">
            <li class="close"><i class="fa fa-times" aria-hidden="true"></i></li>
            <li class="menuLogo"><a href="/"><img src="{{ asset('img/logoTablette.png') }}"></a></li>
        </ul>

        <ul class="menuApp">
            <li><button class="download">TÉLÉCHARGER L'APPLI</button></li>
            <li><button class="become">DEVENIR CHEF</button></li>
            <li class="connexion" id="logIn">CONNEXION</li>
            <li class="connexion" id="register"></li>
            <li class="connexion">COMMENT ÇA MARCHE</li>
            <li class="connexion"><a href="/hygiene">HYGIÈNE</a></li>
        </ul>
    </aside>

    <ul class="menu">
        <a href="#">
            <li></li>
            <li></li>
            <li></li>
        </a>
    </ul>
    <div class="logoHygiene"><img src="{{ asset('img/logoTablette.png') }}"></div>

</header>