html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: 'Coves-Bold';
  src: url("../font/Coves/CovesBold.otf");
}

@font-face {
  font-family: 'Lato-Medium';
  src: url("../font/Lato/LatoMedium.ttf");
}

html, body {
  height: auto;
}

body{
  background-color: #1B1B1B;
}

/*header*/


/*fin header*/
.container {
  margin-top: 0px;
  margin-bottom: -150px;
  padding-bottom: 150px;
  padding-top: 50px;
  text-align: center;
  display: inline-block;
  z-index: -1;
  width: 100%;
  position: absolute;
  min-height: 100%;
  background-color: #1B1B1B;
  color: gainsboro;
}

.content{
  background-color: #1a1a1a;
}

.client input[type=text], input[type=password], input[type=email]{
  border: none;
  width: 250px;
  height: 50px;
  background-color: #1a1a1a;
  outline:none;
  color: white;
}

.client input[type=text]{
  display: block;
  border-top:solid 1px #fff;
  border-bottom:solid 1px #fff;
  background: url('../img/people.png') no-repeat scroll 7px 15px;
  background-size: 15px 20px;
  padding-left:50px;
  font-size: 0.9rem;
}

.client input[type=password]{
  margin-left: 5px;
  display: block;
  border-bottom:solid 1px #fff;
  margin-bottom: 50px;
  background: url('../img/locked.png') no-repeat scroll 4px 15px;
  background-size: 15px 20px;
  padding-left:45px;
  font-size: 0.9rem;
}

.client label{
  padding-top: 250px;
}

.client input[type=checkbox]{
  padding-top: 250px;
}

input[type=submit]{
  display: block;
  border:none;
  border-radius: 5px;
  height:50px;
  width: 300px;
  background-color: #E33C44;
  color: #fff;
  margin-top: 20px;
  font-size: 1.2rem;
}

.cookist {
  margin-top: 130px;
}

.cookist input[type=text], input[type=password], input[type=email]{
  border: none;
  width: 250px;
  height: 50px;
  background-color: #1a1a1a;
  outline:none;
  color: white;
}

.cookist input[type=text]{
  display: block;
  border-top:solid 1px #fff;
  background: url('../img/people.png') no-repeat scroll 7px 15px;
  background-size: 15px 20px;
  padding-left:50px;
  font-size: 0.9rem;
}

#fos_user_registration_form_adresse{
  background: url('../img/location.png') no-repeat scroll 7px 15px;
  background-size: 15px 20px;
  border-bottom: solid 1px #fff;
}

.cookist input[type=email]{
  display: block;
  border-top:solid 1px #fff;
  background: url('../img/mail.png') no-repeat scroll 7px 15px;
  background-size: 20px 20px;
  padding-left:50px;
  font-size: 0.9rem;
}

.cookist input[type=password]{
  margin-left: 5px;
  display: block;
  border-bottom:solid 1px #fff;
  background: url('../img/locked.png') no-repeat scroll 4px 15px;
  background-size: 15px 20px;
  padding-left:45px;
  font-size: 0.9rem;
}

.cookist label{
  padding-top: 250px;
}

.cookist input[type=checkbox]{
  padding-top: 250px;
}

input[type=submit]{
  display: block;
  border:none;
  border-radius: 5px;
  height:50px;
  width: 300px;
  background-color: #E33C44;
  color: #fff;
  margin-top: 20px;
  font-size: 1.2rem;
}

.all {
  font-family: 'Coves-Bold';
  width: 85%;
  background-color: white;
  display: inline-block;
  height: auto;
  padding-bottom: 15px;
  background-color: #1B1B1B;
}
.cote {
  margin: -2px;
  line-height: 40px;
  display: inline-block;
  width: 50%;
  height: 20px;
  background-color: #1B1B1B;
  padding-bottom: 20px;
}
.cote_cookist{
  background-color: #1B1B1B;
  border-left: solid 1px white;
}

.client{
  margin-top: 20px;
}

.cookist{
  margin-top: 20px;
}

