html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: 'Coves-Bold';
  src: url('../font/Coves/CovesBold.otf');
}

@font-face {
  font-family: 'Lato-Medium';
  src: url('../font/Lato/LatoMedium.ttf');
}

body{
  width:100%;
}

.top {
  height: 600px;
  background: url("../img/Groupe1.png");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.chief{
  position: absolute;
  height: 30px;
  width: 100px;
  color: #ffffff;
  background-color: #E33C44;
  border: none;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
  font-family: Lato-Medium;
  margin-top: 20px;
  right: 0;
  margin-right:20px;
  font-size: 0.7rem;
}

.menu {
  position: absolute;
  list-style-type: none;
  margin-top: 30px;
  margin-left: 20px;
}

.menu li{
  height: 2px;
  width: 25px;
  border-radius: 20px;
  margin-bottom: 5px;
  background-color: white;
}

.logo img{
  height: 40px;
  width: 250px;
  margin-top: 130px;
  padding-bottom: 100px;
}
.topText{
  display: inline;
  height: 50px;
  width: 300px;
  font-family: Lato-Regular;
  font-size: 1.4rem;
  line-height: 40px;
  letter-spacing: 1px;
  color: white;
  text-align: center;
}

.cookType{
  font-family: Lato-Regular;
  letter-spacing: 1px;
  height: 30px;
  width: 80%;
  border: none;
  background-color: #fff;
  outline: none;
  text-align: center;
  margin-top: 60px;
  margin-left: -10%;
}

.cookTypeSubmit{
  position: absolute;
  height: 30px;
  width: 40px;
  border: none;
  background-color: #D74648;
  color: white;
  font-size: 1rem;
  margin-top: 60px;
}

.cookist{
  height: 260px;
  width: 100%;
  background-color: #1D1918;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  color: white;
  font-family: Coves-Bold;
}

.find{
  margin-top: 10px;
}

.choose{
  padding-top: 20px;
  font-size: 0.8rem;
}

.gallery {
  background: #1D1918;
}

.gallery-cell {
  width: 100%;
  height: 200px;
  margin-right: 10px;
  background: #1D1918;
  text-align: center;
  margin-top: 25px;
}

.gallery-cell img{
  margin-top: 40px;
}

/* cell number */
.gallery-cell:before {
  display: block;
  text-align: center;
  line-height: 200px;
  font-size: 80px;
  color: white;
}


.imgPeople{
  height: 250px;
  width: 100%;
  background: url("../img/Groupe2.png");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color:#ffffff;
}

.imgPeople img{
  margin-top: 60px;
}

.pStyle{
  font-size: 1.5rem;
  height: 35px;
}

.pMenu{
  font-size: 0.8rem;
}

.imgPeople2{
  height: 250px;
  width: 100%;
  background: url("../img/Groupe%202.png");
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  color:#ffffff;
}

.imgPeople2 img{
  margin-top: 60px;
}

.imgPeople3{
  height: 250px;
  width: 100%;
  background: url("../img/Images_33.png");
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  color:#ffffff;
}

.imgPeople3 img{
  margin-top: 60px;
}

.imgPeople4{
  height: 250px;
  width: 100%;
  background: url("../img/meat.png");
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  color:#ffffff;
}

.imgPeople4 img{
  margin-top: 60px;
}

.discover{
  height: 455px;
  background-color: #1D1918;
  color: white;
  text-align: center;
}

.pTypeCook{
  padding-top: 40px;
}

.pWant{
  font-size: 0.8rem;
  padding-top: 10px;
}

#showcase {
  height: 270px;
  width: 310px;
  background: #1D1918;
  margin: auto;
  padding-top: 10px;
}

#showcase img{
  height: 130px;
  width: 130px;
}

.pCocktail{
  font-size: 0.8rem;
}

.pDiscover{
  height: 50px;
  margin-top: 13px;
  background-color: #E33C44;
  line-height: 50px;
  border-bottom: solid 5px #561815;
}

.grossery{
  height: 425px;
  width: 100%;
  background: url("../img/Groupe3.png");
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
  text-align: center;
}

.pGrossery1{
  font-size: 0.8rem;
  padding-top: 100px;
  padding-bottom: 20px;
}

.pGrossery2{
  padding-bottom: 40px;
}

.pGrossery3{
  padding-bottom: 40px;
  padding-left: 30px;
  text-align: left;
  font-size: 0.9rem;
}

.certified{
  height: 420px;
  width: 100%;
  text-align: center;
}

.certified img{
  padding-top: 40px;
  padding-bottom: 20px;
}

.certified h1{
  padding-bottom: 20px;
}

.certified p{
  font-size: 0.9rem;
  padding-bottom: 30px;
  padding-right: 10px;
  padding-left: 10px;
}

.certified span{
  color: red;
}

.menuTablet{
  display: none;
}

.topTextTablet{
  display: none;
}

.topInputTab1, .topInputTab2, .topInputTab3, .topSubmitTablet{
  display: none;
}

.findTab{
  display: none;
}

/*************************** V E R S I O N  T A B L E T T E ***********************/

@media only screen and (min-width:640px) {
  .top .menu, .logo, .cookType, .cookTypeSubmit,.topText, .chief{
    display: none;
  }

  .top{
    height: 600px;
    background: url("../img/Top1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    font-size: 0.6rem;
    color: #ffffff;
  }

  .top img{
    height: 15px;
    width: 90px;
  }

  .menuTablet {
    display: block;
  }

  .menuTablet ul{
    display: inline-block;
  }
  .menuTablet li{
    display: inline-block;
    padding: 15px;
    padding-top: 30px;
  }

  .chiefTab{
    height: 35px;
    width: 100px;
    border: solid 2px red;
    background-color: transparent;
    color: #ffffff;
    border-radius: 8px;
    font-size: 0.7rem;

  }

  .topTextTablet{
    display: block;
    font-size: 1.5rem;
    line-height: 55px;
    font-family: Lato-Regular;
    font-size: 1.3rem;
    letter-spacing: 1px;
    color: white;
    text-align: center;
    margin-top: 100px;
  }

  .topInputTab1, .topInputTab2, .topInputTab3, .topSubmitTablet{
    display: inline-block;
  }

  .topInputTab1{
    font-family: Lato-Regular;
    letter-spacing: 1px;
    height: 45px;
    width: 25%;
    border: none;
    border-right: solid 1px grey;
    border-radius: 15px 0 0 15px;
    background-color: #fff;
    outline: none;
    margin-left: -20%;
    margin-top: 60px;
    font-size: 0.5rem;

  }

  .topInputTab2{
    font-family: Lato-Regular;
    letter-spacing: 1px;
    height: 45px;
    width: 25%;
    border: none;
    background-color: #fff;
    outline: none;
    margin-top: 60px;
    font-size: 0.5rem;

  }

  .topInputTab3{
    font-family: Lato-Regular;
    letter-spacing: 1px;
    height: 45px;
    width: 10%;
    border: none;
    border-left: solid 1px grey;
    background-color: #fff;
    outline: none;
    margin-top: 60px;
    margin-left: -0.4%;
    font-size: 0.5rem;

  }

  .topSubmitTablet{
    position: absolute;
    height: 45px;
    width: 20%;
    border: none;
    background-color: #D74648;
    color: white;
    font-size: 0.8rem;
    margin-top: 60px;
    border-radius: 0 15px 15px 0;
    outline: none;
    cursor: pointer;
  }

  .cookist .gallery{
    display: none;
  }

  .findTab{
    display: block;
  }

  .findTab li{
    display: inline;
  }

  .findTab img{

  }

}

