html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

@font-face {
    font-family: 'Coves-Bold';
    src: url("../font/Coves/CovesBold.otf");
}

@font-face {
    font-family: 'Lato-Medium';
    src: url("../font/Lato/LatoMedium.ttf");
}

html, body {
    height: auto;
}

/*header*/
header {
    height: 50px;
    background-color: #1a1a1a;
    text-align: center;
    z-index: 10;
}

.nav1 a {
    display: block;
    text-decoration: none;
    color: white;
}

.nav1 {
    display: none;
    position: fixed;
    left: -1px;
    padding-right: 40px;
    top: 50px;
    text-align: left;
    line-height: 40px;
    background-color: #1a1a1a;
    padding-left: 40px;
    min-height: 100%;
    color: white;
    font-family: 'Coves-Bold';
    font-size: 14px;

}

.nav2 {
    display: none;
}

.logo {
    width: 100px;
    margin-top: 15px;
    margin-left: -30px;
}

.burger {
    cursor: pointer;
    margin-top: 8px;
    margin-left: 8px;
    float: left;
    display: inline-block;
    width: 30px;
    height: 30px;
    border-style: solid;
    border-width: 2px;
    border-radius: 100px;
    border-color: #1a1a1a;  
}

.croix1, .croix2, .croix3 {
    position: absolute;
    border-color: white;
    width: 20px;
}

.croix1 {
    top: 16px;
    left: 14px;
}

.croix2 {
    top: 10px;
    left: 14px;
}

.croix3 {
    top: 22px;
    left: 14px;
}

.download, .become {
    margin-top: 20px;
    font-family: 'Coves-Bold';
    width: 180px;
    height: 30px;
    border-radius: 3px;
    background-color: white;
    border: 0;
}

.become {
    margin-bottom: 20px;
    background-color: red;
    color: white;
}

.sombre {
    top: 0px;
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    opacity: 0.7;
    background-color: black;
    display: none;
}

/*fin header*/
.container {
    margin-top: -50px;
    margin-bottom: -150px;
    padding-bottom: 150px;
    padding-top: 50px;
    text-align: center;
    display: inline-block;
    z-index: -1;
    width: 100%;
    position: absolute;
    min-height: 100%;
    background-color: #e8ecf0;
}

.titre {
    width: 100%;
    height: 100px;
    padding-top: 30px;
    text-align: center;
    font-family: 'Coves-Bold';
}

.big_title, .small_title {
    display: block;
}

.big_title {
    color: red;
    font-size: 20px;
    margin-bottom: 10px;
}

.all {
    font-family: 'Coves-Bold';
    width: 85%;
    background-color: white;
    display: inline-block;
    height: auto;
    padding-bottom: 15px;
}

.cookist {
    display: none;
}

.cote {
    margin: -2px;
    line-height: 40px;
    display: inline-block;
    width: 50%;
    height: 40px;
    border-style: solid;
    border-color: #F4F4F4;
    border-width: 1px;
}

.cote_cookist {
    margin-left: -5px;
}

.content {
    display: inline-block;
    width: 100%;
    height: 30px;
    text-align: left;
    padding-top: 20px;
}

.content ul li {
    margin-top: 15px;
    list-style: disc;
    margin-left: 20px;
}

.questions {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.question, .bold {
    font-family: 'Coves-Bold';
    height: 30px;
    line-height: 30px;
    display: inline-block;
    width: 100%;
}

.question {
    margin-top: 20px;
}

.bold {
    font-weight: bold;
    margin-bottom: 20px;
}

.questions img {
    width: 150px;
    margin-bottom: 70px;
}

footer {
    font-family: 'Coves-Bold';
    position: absolute;
    width: 100%;
    bottom: 0;
    color: #fefefe;
    background-color: #1c1919;
    height: 150px;
    font-size: 10px;
    text-align: center;
}

.text_footer {
    font-size: 8px;
}

.link, .separa, .reseaux, .text_footer {
    display: inline-block;
    width: 100%;
}

.link {
    margin-top: 25px;
    margin-bottom: 15px;
}

.separa {
    width: 70%;
}

.reseaux img {
    width: 30px;
    margin-left: 5px;
    margin-top: 5px;
}

.text_footer {
    margin-top: 20px;
}

.img_footer {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 150px;
    background-image: url('../img/Icones_footer.png');
    background-repeat: repeat;
}

@media screen and (min-width: 1024px) {
    .burger {
        display: none;
    }

    header {
        text-align: left;
    }

    .nav2 {
        display: inline-block;
        margin-left: 20%;
        color: white;
        font-family: 'Coves-Bold';
        font-size: 10   px;
        line-height: 50px;
    }
    
    a{
       color: white;
        text-decoration: none;
    }
    .nav1 {
        display: none;
    }

    .nav2 ul li {
        display: inline-block;
        margin-right: 8px;
    }

    header {
        text-align: center;
    }
}