{% block head %}
    <!DOCTYPE html>
    <html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Accueil{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ asset('css/connexion.css') }}">
    <link rel="stylesheet" href="{{ asset('css/menu.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="{{ asset('js/burger.js') }}"></script>
    <script src="{{ asset('js/connexionmobile.js') }}"></script>

</head>
{% endblock %}

{% block container %}
    <body>
    {% include 'Cook4usBundle:Base:menu.html.twig' %}
    <div class='container'>
        <div class="all">
            <span class="cote cote_client">CONNEXION</span>
            <span class="cote cote_cookist">S' INSCRIRE</span>

            <div class='content client'>
                {% render url('fos_user_security_login') %}
            </div>
            <div class='content cookist'>
                {% render url('fos_user_registration_register') %}
            </div>
        </div>
    </div>
    <div class='sombre'></div>
    <footer>

    </footer>
    </body>


{% endblock %}
</html>